.project-list {
  display: inline-block; 
  width: 80%;
  height: 100%;
  background-color: beige;

  }

.project-card-buttons{
  display: inline-flex;
  width: 20%;

}

.project-card {
  display:flex;
  border-style: solid;
  border-width: 10px;
  border-color: grey;
}

.add-something-button{
  background-color: aliceblue;
  color: black;
  align-self: center;
  display: flex;
  justify-self: center;
  
  
}





