.project-list {
  display: inline-block; 
  width: 80%;
  height: 100%;
  background-color: beige;

  }

.project-card-buttons{
  display: inline-flex;
  width: 20%;

}

.project-card {
  display:flex;
  border-style:ridge;
  border-width: 10px;
  border-color: grey;
  margin-top: 10px;
}

.add-something-button{
  background-color: aliceblue;
  color: black;
  align-self: center;
  display: flex;
  justify-self: center;
  
  
}

.Nav-green{
  background-color: rgb(90, 177, 35);
}

.Nav-red{
  background-color: rgb(177, 35, 42);
}





